<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/home.css) }}">
</head>




<body>
    <!-- we specifiy method of this fprm is post and jinja code to render results -->
    <form action="{{ url_for('render_results') }}" method="post">
        <label for="cityname">Enter city name</label>
        <input type="text" id="cityname" name="nameofcity">
        <input type="submit" value="Submit">
    </form>

</body>
</html>